{% extends 'base_layout.html' %}

{% block content%}
        <h3>Supplier List </h3>
        <a href="{% url 'machine:add_machine' %}" class="btn btn-info" role="button">Create New Machine</a>
        <a href="{% url 'machine:add_supplier' %}" class="btn btn-info" role="button">Create New Supplier</a>
        <div class="container my-3 border">
        {% for supplier in suppliers %}
            <div class="supplier">
                <div class="row">
                    <div class="col-sm-2">
                        <h6><a href="{% url 'machine:detail_supplier' pk=supplier.pk %}">{{ supplier.company }}</a></h6>
                    </div>
                    <div class="col-sm-2">
                        <p>{{ supplier.address }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p>{{ supplier.contact_person }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p>{{ supplier.contact_phone }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p><a href="{% url 'machine:delete_supplier' pk=supplier.pk %}">Delete/</a>
                        <a href="{% url 'machine:update_supplier' pk=supplier.pk %}">Update</a></p>
                    </div>
                    <div class="col-sm-2">
                        <p>{{ supplier.remark }}</p>
                    </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}