{% extends 'base_layout.html' %}

{% block content%}
        <h3>Document Action Request (KTY-FDC-03)</h3>
        <h5>REV: {{target.rev}}, Updated at: {{target.get_date}}</h5>
        <h6>*** All the changes are authorized by Lab Director & Lab Manager </h6>
        <table id="document_master_list" class="table table-hover table-striped table-bordered table-sm " cellspacing="0"
  width="100%">

  <thead>
    <tr>
      <th >DAR No.</th>
      <th >DAR Code</th>
      <th >DAR Name</th>
        <th >Recieved Date</th>
        <th >Request Purpose</th>
        <th >Request Detail</th>
        <th >Requested by</th>
      <th >Approved by</th>
      <th >Remark</th>
    </tr>
  </thead>
  <tbody>
  {% for dar in dars %}
    <tr>
      <td>{{ dar.dar_no }}</td>
      <td>{{ dar.code }}</td>
      <td>{{ dar.name }}</td>
        <td>{{ dar.get_date }}</td>
        <td>{{ dar.purpose }}</td>
        <td>{{ dar.detail }}</td>
        <td>{{ dar.requested_by }}</td>
      <td>{{ dar.approved_by }}</td>
      <td>{{ dar.remark }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}

